<!-- <ion-row *ngIf="transfer">
  <ion-col size="2" *ngIf="value == 'account_holder'">
    <div>{{transfer.account_holder}}</div>
  </ion-col>
  <ion-col size="2">
    <div>{{transfer.iban|ibanFormatter}}</div>
  </ion-col>
  <ion-col size="2">
    <div>{{transfer.date|date:'yyyy-mm-dd'}}</div>
  </ion-col>
  <ion-col size="2">
    <div>{{transfer.amount.toLocaleString()|currency:'EUR'}}</div>
  </ion-col>
  <ion-col>
    <div>{{transfer.note}}</div>
  </ion-col>
  <ion-col class="col ion-text-center" size="2">
    <ion-button size="small" color="medium" [routerLink]="'/transfer/edit/' + transfer.id">
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>
    <ion-button color="danger" size="small" (click)="presentAlert(transfer.id || '')">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row> -->
<div *ngIf="transfer">
  <div *ngIf="value == 'account_holder'">{{transfer.account_holder}}</div>
  <div *ngIf="value == 'date'">{{transfer.date|date:'yyyy-mm-dd'}}</div>
  <div *ngIf="value == 'iban'">{{transfer.iban}}</div>
  <div *ngIf="value == 'amount'">{{transfer.amount.toLocaleString()|currency:'EUR'}}</div>
  <div *ngIf="value == 'note'" class="note--text">{{transfer.note}}</div>
  <div *ngIf="value == 'options'">
    <ion-button size="default" color="danger" (click)="presentAlert(transfer.id || '')">
      <ion-icon slot="start" name="trash-outline"></ion-icon>
      Remove
    </ion-button>
    <ion-button size="default" color="medium" [routerLink]="'/transfer/edit/' + transfer.id">
      <ion-icon slot="start" name="create-outline"></ion-icon>
      Edit
    </ion-button>
  </div>
</div>
