<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Transfer App
      </ion-title>
      <ion-button size="medium" slot="end" class="ion-margin-end" routerLink="/transfer/create" color="primary">Create
      </ion-button>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <app-transfer></app-transfer>

  </ion-content>
